.spad-50 {
  padding: 50px 0;
}

.spad-75 {
  padding: 75px 0;
}

.spad-75_50 {
  padding: 75px 0 50px;
}

.spad-100 {
  padding: 100px 0;
}

.spad-100_50 {
  padding: 100px 0 50px;
}

.smar-50 {
  margin: 50px 0;
}

.smar-100 {
  margin: 100px 0;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.set-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}